@import url("../bootstrap/css/bootstrap.min.css");
@import url("./github.css");

html, body { overflow-x: hidden; }
textarea {
    width: 100%;
    resize: vertical;
}

.gh-generated {
    margin: 20px 0;
    height: 200px !important;
    font-family: monospace;
}

.active { fill: red !important; }
.day { fill: #eeeeee; }
.today {
	fill: darkgray;
}
