@import url("../bootstrap/css/bootstrap.min.css");

.day {
    width: 11px;
    height: 11px;
    background: white;
    margin: 2px;
}

.week{
    width: 10px;
    float:left;
    margin-right: 3px;
}

.gh-contributions {
    width: 556px;
    padding: 10px;
    background: lightblue;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: -70px;
}

.active {
    background: red !important;
}
