@import url("../bootstrap/css/bootstrap.min.css");

.day {
    width: 11px;
    height: 11px;
    background: white;
    margin: 2px;
}

.week{
    width: 10px;
    float:left;
    margin-right: 3px;
}

.gh-contributions {
    width: 555px;
    padding: 10px;
    background: lightblue;
    position: absolute;
    top: 15%;
    left: 10%;
}
.active {
    background: red !important;
}
